{% extends 'maestra.html' %}
{% block content %}
    <div id="container">
        {% for pais in pais %}
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/' + pais.bandera_url) }}" class="card-img-top"
                alt="{{pais.bandera_url}}">
            <div class="card-body">
                <h5 class="card-title">{{pais.nombre}}</h5>
                <p class="card-text">{{pais.capital}}</p>
                <input type="text" value="{{pais.id}}" style="display: none;" class="id-input">            
                <a href="#" class="btn btn-primary mostrarDetalles">Detalles</a>
                <a href="{{ url_for('editForm' , id=pais.id) }}" class="btn btn-success">Editar</a>
                <a href="/delete/{{pais.id}}"class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for pais in pais %}
    <div class="card detalles" id="detalles-{{pais.id}}">
        <img src="{{ url_for('obtener_imagen', pais_id=pais.id) }}" class="card-img-top" alt="Bandera de {{pais.nombre}}">
        <div class="card-body">
            <h5 class="card-title">Pais: {{pais.nombre}}</h5>
            <p class="card-text">Capital: {{pais.capital}}</p>
            <p class="card-text">Nº de habitantes: {{pais.habitantes}}</p>
            <p class="card-text">Dia nacional: {{pais.diaNacional}}</p>
            <button class="volver">Cerrar Detalles</button>
        </div>
    </div>
    {% endfor %}
    <script>
        var botonesDetalles = document.querySelectorAll('.mostrarDetalles');

        botonesDetalles.forEach(function (boton) {
            boton.addEventListener('click', function (e) {
                e.preventDefault();
                var id = this.closest('.card-body').querySelector('.id-input').value;
                var detalles = document.getElementById('detalles-' + id);
                detalles.style.display = "block";
                document.getElementById('container').style.opacity = 0.4;
            });
        });

        var botonesCerrarDetalles = document.querySelectorAll('.volver');
        botonesCerrarDetalles.forEach(function (botonCerrar) {
            botonCerrar.addEventListener('click', function () {
                document.querySelectorAll('.card.detalles').forEach(function (detalle) {
                    detalle.style.display = "none";
                });
                document.getElementById('container').style.opacity = 1;
            });
        });

    </script>


{% endblock %}